doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Yummy Restaurant - Giới thiệu
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // fontAweSome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  //slick
  link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
  // Add the new slick-theme.css if you want the default styling
  link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  // icon
  link(rel='icon' href='images/core_img/favicon.ico')
  // Fonts
  link(rel='stylesheet' type='text/css' media='screen' href='css/stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Prata&display=swap" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap' rel='stylesheet')
  // My css
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/about.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/topHeader.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/mainMenu.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/footer.css')
header.header_area.container-fluid
  //Top Header Area
  include template-parts/topHeader.pug
  // Menu
  include template-parts/mainMenu.pug
  //Header
  .header_main.text-center 
    .content_header About us
//section1
section.section_1.container-fluid
    div
        p.heading.text-center 
          span(style='color:#FD5B00;') Giới thiệu 
          | về chúng tôi
        p.content.text-center Với các đầu bếp hàng đầu thế giới, chúng tôi đã tạo ra những “tác phẩm nghệ thuật” !
        .row.about_content.container-fluid
            .col-sm-6
                p.content_left Ẩm thực nơi đây là sự kết hợp hài hòa tinh tế giữa hương vị đặc sắc của những món ăn từ đất nước Mêhicô vui nhộn, đất nước Italy cổ kính và từ xứ sở tràn ngập nắng mặt trời của những chú Kangaroo. Đặc biệt, nhà hàng còn góp phần tăng thêm hương vị tuyệt vời cho những món ăn bằng những loại thức uống hấp dẫn như bia mát lạnh và những loại rượu vang ngon nức tiếng từ Úc & Nam Mỹ.
            .col-sm-6
                p.content_right Đến nhà hàng Yummy, thực khách sẽ nhớ mãi hương vị khó quên của món sườn khổng lồ nướng mềm phết sốt BBQ kiểu Mỹ. Món ăn này được mọi lứa tuổi đặc biệt yêu thích. Ngoài ra, nhà hàng còn mang đến thực đơn phong phú và hợp lý về giá cả, không những phù hợp cho khách nước ngoài mà còn được các bạn trẻ Việt Nam vô cùng hâm mộ và ủng hộ nhiệt tình.
    .child-page-listing
      .grid-container
        article#3685.location-listing
          a.location-title(href='#')
            | Mokey.D.Luffy
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef1.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Zoro
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef2.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Sanji
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef3.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Nami
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef2.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Uppsop
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef3.jpg' alt='Name Chef')
        article#3685.location-listing
          a.location-title(href='#')
            | Franky
          .location-image
            a(href='#')
              img(width='300' height='169' src='./images/about_Page/chef4.jpg' alt='Name Chef')

section.section_2.container-fluid
    div
       p.content.text-center Với không gian thoải mái, thân thiện, sự phục vụ nhiệt tình chuyên nghiệp, Yummy chính là sự lựa chọn tuyệt vời giúp bạn thư giãn nhẹ nhàng sau những giờ phút hối hả và bận rộn của cuộc sống hàng ngày. 

section.section_3.container-fluid
    div
        p.heading.text-center 
          span(style='color:#FD5B00;') Bài viết 
          | của chúng tôi
        p.content.text-center Hy vọng bài viết của chúng tôi sẽ giúp bạn có được gợi ý về không gian nhà hàng lý tưởng cho buổi hẹn hay dịp tổ chức tiệc đặc biệt sắp tới. Đừng quên chia sẻ cảm nhận của bạn khi đến với nhà hàng Yummy cùng chúng tôi nhé!
    hr
    div.post
        p.post_tag.text-center CÔNG THỨC NẤU ĂN
        p.post_title.text-center TRAI LUỘC CHANH XẢ
        p.post_subtitle.text-center Ngày 8 /9/2018, by NhatMinh, 2 bình luận
        div.post_image.text-center
          img(src='./images/about_Page/blog_post.png' alt='image')
        div
            p.post_content Mấy năm gần đây, nấm trở thành một món ăn được người tiêu dùng ưa thích do "độ sạch" và "độ dinh dưỡng" cao của sản phẩm. Chỉ cần gia giảm một chút nguyên liệu hoặc gia vị từ những công thức này, bạn còn có thể chế biến thành những món ăn chay tuyệt hảo.
            a(href="singerBlog.html")
              p.post_detail Xem chi tiết ...
        hr
    div.text-center.btn_detail
      a(href="blog.html")
        button.btn(type='button') Xem thêm

section.section_4.container-fluid
  .review
    p.heading.text-center 
      span(style='color:#FD5B00;') Nhận xét 
      | của khách hàng

  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
      li(data-target='#carouselExampleIndicators' data-slide-to='1')
      li(data-target='#carouselExampleIndicators' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        p.content.text-center Tinh thần, thái độ của anh chị em nhân viên nhà hàng hết sức nhiệt tình, rất tốt và chu đáo, anh Minh giám đốc cũng hết sức tận tình với khách hàng. Thức ăn đảm bảo an toàn thực phẩm, các món ăn ngon và đầy đặn, hình thức trang trí cũng rất đẹp.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/reviewer1.jpg') 
          .col-8.name_reviewers
            p.name Suni Hạ Linh
            p.role Ca sỹ
      .carousel-item
        p.content.text-center Tinh thần, thái độ của anh chị em nhân viên nhà hàng hết sức nhiệt tình, rất tốt và chu đáo, anh Minh giám đốc cũng hết sức tận tình với khách hàng. Thức ăn đảm bảo an toàn thực phẩm, các món ăn ngon và đầy đặn, hình thức trang trí cũng rất đẹp.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/sontung.png') 
          .col-8.name_reviewers
            p.name Sơn Tùng MTP
            p.role Ca sỹ
      .carousel-item
        p.content.text-center Tinh thần, thái độ của anh chị em nhân viên nhà hàng hết sức nhiệt tình, rất tốt và chu đáo, anh Minh giám đốc cũng hết sức tận tình với khách hàng. Thức ăn đảm bảo an toàn thực phẩm, các món ăn ngon và đầy đặn, hình thức trang trí cũng rất đẹp.
        .reviewers.row
          .col-4.avatar
            img(src='./images/about_Page/reviewer1.jpg') 
          .col-8.name_reviewers
            p.name Suni Hạ Linh
            p.role Ca sỹ

//footer
include template-parts/footer.pug

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

// slick
script(type='text/javascript' src='js/slick/slick.min.js')
script(type='text/javascript' src='./js/footer2.js')
script(type='text/javascript' src='js/script.js')
