doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Yummy Restaurant
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // fontAweSome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  //slick
  link(rel='stylesheet' type='text/css' href='js/slick/slick.css')
  // Add the new slick-theme.css if you want the default styling
  link(rel='stylesheet' type='text/css' href='js/slick/slick-theme.css')
  // icon
  link(rel='icon' href='images/core_img/favicon.ico')
  // Fonts
  link(rel='stylesheet' type='text/css' media='screen' href='css/stylesheet.css')
  link(href="https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Prata&display=swap" rel="stylesheet")
  // My css
  link(rel='stylesheet' type='text/css' media='screen' href='css/main.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/singerBlog.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/topHeader.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/mainMenu.css')
  link(rel='stylesheet' type='text/css' media='screen' href='css/css_parts/footer2.css')
header.header_area.container-fluid
  //Top Header Area
  include template-parts/topHeader.pug
  // Menu
  include template-parts/mainMenu.pug

//section1
section.section_1.container
  .row
    .col-9.right_area
      div.post.container
        p.post_tag.text-center CÔNG THỨC NẤU ĂN
        p.post_title.text-center BÒ BÍT TẾT KOBE
        p.post_subtitle.text-center Ngày 8 /9/2018, by  
          a.author NhatMinh
          |, 1 bình luận
        div.post_image.text-center
          img(src='./images/singerBlog_page/blog1.jpg' alt='image')
        div
          p.post_content Đặt miếng thịt lên trên một mặt phẳng sạch, rắc thêm chút muối và hạt tiêu lên bề mặt thịt, sau đó dùng búa nhỏ hoặc chày đập nhẹ để thịt bò mềm hơn. Lật mặt kia lại và cũng làm tương tự. Lưu ý, bạn đập nhẹ nhàng để thịt mềm và thấm gia vị, tránh làm mạnh tay kẻo thịt bị nát.
          p.post_content Cho 2 muỗng cà phê dầu ăn, 1 muỗng cà phê hạt tiêu, 1 muỗng cà phê dầu hào và chút tỏi băm vào một cái chén, trộn thật đều. Đỗ hỗn hợp gia vị trên lên miếng thịt bò, dùng tay thoa đều hỗn hợp lên cả 2 mặt thịt. Bọc kín khay thịt lại rồi ướp trong khoảng 1 – 2 tiếng cho thịt thấm gia vị. Trong thời gian này bạn tranh thủ sơ chế các nguyên liệu khác.
        div.post_image.text-center
          img(src='./images/singerBlog_page/blog2.jpg' alt='image')
        div
          p.post_content Khoai tây rửa sạch, cạo vỏ rồi rửa lại lần nữa, thái khoai thành các thanh dài nhỏ vừa ăn (như trong hình). Bạn nấu sôi một nồi nước pha chút muối, sau đó cho khoai tây vào luộc trong khoảng thời gian 2 – 3 phút rồi vớt ra, để ráo.
          p.post_content Bắc chảo lên bếp với lượng dầu ăn vừa đủ để chiên khoai, khi dầu nóng già thì bạn cho khoai tây vào chiên chín vàng.  Khi khoai chín vàng, bạn vớt hết ra ngoài cho ráo dầu rồi chiên tiếp lần 2, cách này sẽ giúp khoai tây giòn lâu hơn.
        hr
      .author.row
        .col-2
          .iamge_author
            img(src='./images/singerBlog_page/author1.png' alt='image')
        .col-10
          p.author_name Nhat Minh
          p.info Hướng dẫn cách làm bò bít tết ngon tại nhà bằng 6 bước thực hiện, ăn kèm khoai tây chiên và salad rất hấp dẫn. Với cách làm này, món bò bít tết sốt tiêu với phần thịt bò ngon mềm, khoai tây chiên béo ngậy cùng đĩa salad thanh mát chống ngán sẽ làm người thưởng thức rất thích thú.
          .view_all
            a(href="#") Xem thêm bài viết của Nhat Minh
        hr
      .comment BÌNH LUẬN
        hr
        .row 
          .col-2.avatar_comter
            img(src='./images/singerBlog_page/sontung.png' alt='image') 
          .col-10.form_comment
            .vote
            .name_comment Sơn Tùng M-TP
            .date_comment 8/8/2019
            .content_comment Rất cảm ơn tác giả vì bài viết rất hay và tâm huyết. Mình đã làm theo và đã có người yêu nhờ món ăn nay. Thank you very much!

        hr
        .post_comment Để lại đánh giá của bạn
            .row
                .col-6.form-group
                    label(for='') Tên
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Nhập tên của bạn')
                .col-6.form-group
                    label(for='') Email
                    input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Nhập địa chỉ Email')
            .form-group
                label(for='') Bình luận của bạn
                textarea#exampleFormControlTextarea1.form-control(rows='3' placeholder='Để lại bình luận của bạn')
            .text-right
                button.btn(type='submit') Hoàn thành


    .col-3.left_area
      // Search form
      .search_form TÌM KIẾM BÀI VIẾT
        form.form-inline.md-form.form-sm.active-cyan-2.mt-2
          input.form-control.form-control-sm.mr-3.w-75(type='text' placeholder='Tìm kiếm' aria-label='Search')
          i.fas.fa-search(aria-hidden='true')

      .about_us BÀI VIẾT MỚI CẬP NHẬP
        hr
        ul.mt-search
          li
            a(href='') Hến sào me
          li
            a(href='') Yến sốt chua cay
          li
            a(href='') Thịt trâu sốt cà chua
          li
            a(href='') Mướp sào lòng lợn
          li
            a(href='') Ẩm thực quanh ta
      .about_us DANH MỤC BÀI VIẾT
        hr
        ul.mt-search
          li
            a(href='') Tất cả bài viết
          li
            a(href='') Công thức nấu ăn
          li
            a(href='') Khám phá ẩm thực
    //-   .social_network Mạng xã hội
    //-     hr

    //-   .instagram Ảnh trên Instagram
    //-     hr


//footer
include template-parts/footer2.pug

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
// slick
script(type='text/javascript' src='js/slick/slick.min.js')

script(type='text/javascript' src='js/script.js')
script(type='text/javascript' src='./js/footer2.js')