footer.container-fuild
    .top_footer
      h1.title Ảnh này phần footer
      #single_item.slider(data-slick='{"slidesToShow": 4, "slidesToScroll": 4}')
        div
          img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
      

      

      h1.title_2 Ảnh này phần chi tiết sản phẩm
      .slider-for
        div
          img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
      .slider-nav
        div
          img(width='300' height='169' src='images/home_Page/img1.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img2.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img3.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img4.jpg' alt='Xem chi tiết')
        div
          img(width='300' height='169' src='images/home_Page/img5.jpg' alt='Xem chi tiết')
          
        