*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@keyframes title{
  40%{
      transform: scale(1.5);
  }
  50%{
    transform: scale(1.3);
  }
  60%{
    transform: scale(1.5);
  }
}
img{
  width: 300px;
  height: 300px;
}
.image{
  padding: 100px;
  text-align: center;
  animation: title 3s ease infinite;
}
.image:hover{
  
}