*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}

/*Set Color*/
:root {
 	/*--ten-bien: gia tri;*/
 	 --orange-color: #EB5B49;
 	 --white-color: #ffffff;
 	 --blue-color: #283583;
 	 --gray-color: #818182;
 	 --black-color: #000000;
}


body{
	background-color: #F2F2F2;
}




.bg-light {
    background-color: #F2F2F2!important;
}

.header .menu{
	font-family: latoregular;
	display: flex;
	justify-content: center;
	font-size: 1.4rem;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--black-color);
}
.navbar-light .nav-home-page .nav-link{
	color: var(--orange-color);
}
.nav-item{
	padding: 2.5rem;
}
.menu{
	position: relative;
}


.btn_menu{
	padding: 3rem;
	position: absolute;
	top: 0rem;
	left: 110rem;
}

.apply{
	font-family: latoregular;
	font-size: 1.4rem;
	width: 13.4rem;
	height: 3rem; 
	border-radius: 2rem;
	background-color: var(--orange-color);
	color: var(--white-color);
}



.nav-home-page{
	font-family: sf_pro_displayregular;
	font-size: 2rem;
}


.header .text_main{
	font-family: latobold;
	font-size: 8.2rem;
	text-align: center;
	color: var(--blue-color);
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 15rem;
	line-height: 9rem;
}
.header .text{
	color: var(--gray-color);
	font-family: latoregular;
	font-size: 2.4rem;
	text-align: center;
	padding-left: 29%;
	padding-right: 29%;
	padding-top: 6rem;
}
.header .scroll_down{
	font-size: 1.8rem;
	color: var(--black-color);
	padding-top: 6rem;
}


/*Section1*/
.image_section_1{
	text-align: center;
	padding-top: 6rem;
}

.text_section_1{
	font-family: latoregular;
	font-size: 2rem;
	text-align: center;
	padding-top: 6rem;
	color: var(--gray-color);
}

.btn_section_1{
	text-align: center;
	padding-top: 4rem;
}

/*section2*/
.section2{
	font-family: latoregular;
}
.name_section_2{
	font-size: 4.8rem;
	text-align: center;
	padding-top: 25rem;
}

.text_section_2{
	font-size: 2rem;
	text-align: center;
	padding-left: 29%;
	padding-right: 29%;
	color: var(--gray-color);
}
.member_section_2{
	padding-top: 10rem;
}
.image_member img{
	max-width: 100%;
}
.infor_member{
	font-family: latobold;
	font-size: 2.4rem;
	color: var(--orange-color);
}
.intro_member{
	font-family: latoregular;
	font-size: 1.4rem;
	color: var(--gray-color);
	padding-bottom: 3rem;
}




.btn_main{
	background-color: var(--blue-color);
	width: 24rem;
	height: 3.5rem;
	border-radius: 1.5rem;
	color: var(--white-color);
	font-family: latoregular;
	font-size: 1.6rem;
}


/*section3*/
.step_process{
	padding-top: 15rem;
}
.step_process_1{
	padding-right: 10rem;
}
.step_process_2{
	padding-top: 10rem;
	padding-left: 10rem;
}

.step{
	border: 2px solid #EFEFEF;
	box-shadow: 2px 2px 2px 4px #EFEFEF;
	border-radius: 1rem;
	width: 23rem;
	height: 25rem;
	background-color: #FDFDFD;
}



.title_step{
	font-family: latoblack;
	font-size: 2.4rem;
	color: var(--blue-color);
	margin: 2rem;
}
.content_step{
	font-family: latoregular;
	font-size: 1.4rem;
	color: var(--gray-color);
	margin: 2rem;
}

.blandit_select_item{
	background-color: var(--orange-color);
	color: var(--white-color);
	width: 30rem;
	height: 22rem;
	border-radius: 1rem;
	box-shadow: 2px 2px 2px 4px #EFEFEF;
	text-align: center;
}

.blandit_title{
	font-family: latoregular;
	font-size: 2rem;
	text-align:center;
	color: var(--gray-color);
	padding-top: 10rem;
}

.blandit_title_2{
	font-family: latoregular;
	font-size: 2rem;
	text-align:center;
	color: var(--gray-color);
	padding-top: 2rem;
}

.title_blandit_select{
	font-family: latoblack;
	font-size: 6.4rem;
}

.content_blandit_select{
	font-family: latoregular;
	font-size: 2.4rem;
}

.blandit_logo{
	text-align: center;
}
img{max-width: 100%;}

.discover_new{
	padding-top: 20rem;
}

.card-body{
	height: 8rem;
}
.card-title{
	font-family: latoregular;
	font-size: 1.6rem;
	color: var(--black-color);
}
.card-text{
	font-family: latoregular;
	font-size: 1.4rem;
	color: var(--gray-color);
}
.card-left{
	padding: 1rem;
}
.card-right{
	padding: 1rem;
	padding-left: 8rem;
}
.avatar{
	border-radius: 50%;
}
.btn_section_3{
	padding-top: 6rem;
	text-align: center;
}


/*section4*/
.name_section_4{
	font-size: 4.8rem;
	text-align: center;
	padding-top: 25rem;
}
.text_section_4{
	font-size: 2rem;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	color: var(--gray-color);
}

.form_section_4{
	padding-top: 5rem;
	font-family: latobold;
	font-size: 2.4rem;
}
.infor_form_left{
	padding-left: 10rem;
	padding-right: 10rem;
}
.infor_form_right{
	padding-left: 10rem;
	padding-right: 10rem;
}
.comment_form{
	padding-left: 8.5rem;
	padding-right: 8.5rem;
}
.attention{
	padding-left: 8.5rem;
	padding-right: 8.5rem;
}
.attention{
	color: var(--gray-color);
	font-size: 1.4rem;
	font-family: latoregular;
}

.validate{
	padding-left: 8.5rem;
	padding-right: 8.5rem;
	float: right;
}
.btn_validate{
	background-color: var(--orange-color);
	width: 22.8rem;
	height: 3.2rem;
	border-radius: 1.5rem;
	color: var(--white-color);
	font-family: latoregular;
	font-size: 1.6rem;
}
/*.upload{
	border: 2px solid #EFEFEF;
	border-radius: 1rem;
	
	background-color: #FDFDFD;
	text-align: center;
	padding-left: 30rem;
	padding-right: 30rem;
}*/
/*.upload_text{
	font-family: latoregular;
	font-size: 1.8rem;
	color: var(--gray-color);
}
.upload_link{
	font-family: latobold;
	font-size: 2rem;
}*/
/*Footer*/
.footer{
	margin-top: 20rem;
	background-color: var(--orange-color);
	color: var(--white-color);
	font-family: sf_pro_displayregular;
	font-size: 1.4rem;
}
.footer_content{
	padding-left: 5rem;
	padding-right: 5rem;
}
.col_content{
	text-align: center;
	padding: 2rem;
}
.col_content a{
	color: var(--white-color);
}
.pt-5r{
	padding-top: 5rem;
}
.footer a:hover{
	color: var(--blue-color);
	text-decoration: none;
}
.scroll_down:hover p,i{
	cursor: pointer;
}

@media only screen and (max-width: 1179px){
  
}

@media screen and (max-width: 1365px){
	.btn_menu{
		padding: 3rem;
		position: static;
		top: 0rem;
		text-align: center;
	}
}
@media screen and (max-width: 1000px){
	.navbar-toggler {
    	padding: .25rem .75rem;
    	font-size: 1.25rem;
    	line-height: 1;
    	background-color: var(--orange-color);
   	 	border: 1px solid transparent;
   		border-radius: .25rem;
   		width: 100%;
	}
	.member_2{
		padding-top: 5rem;
	}
	.section_2{
		text-align: center;
	}
	.section_3{
		text-align: center;
	}
	.section_4{
		text-align: center;
	}
}


@media screen and (max-width: 767px){
	.header .text_main{
		font-family: latobold;
		font-size: 5rem;
		text-align: center;
		color: var(--blue-color);
		padding-top: 15rem;
	}
	body{
		text-align: center!important;
	}

}


