*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
	max-width: 1280px;
	margin: auto;
}
h1{
	text-align: center;
	padding-top: 20px;
}

.table-wapper{
	margin-top: 20px;
	/*Cùng một dong khi màn hình ở kích thước nhỏ*/
	overflow-x: auto;
}
table{
	width: 100%;
}
/*Chú ý*/
table, td, th{
	border: 1px solid #ddd;
	border-collapse: collapse;
}
th, td{
	padding: 10px;
}
th{
	background-color: #425a65;
	color: #FFF;
	text-align: left;
	min-width: 150px;
	cursor: pointer;
}
td a{
	text-decoration: none;
	color: #444;
}
/*màu hàng*/
tr:nth-child(2n){
	background-color: #f5f5f5;
}
.asc,
.desc {
    position: absolute;
    top: auto;
    left: 80%;
    opacity: 0.3;
}

.click-sort {
    position: relative;
}
tbody tr:hover {
    background-color: #7a7b74;
    animation: opacity 0.2s ease;
    color: white;
}

tbody tr:hover a {
    color: white;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    ;

    to {
        opacity: 1;
    }

    ;
}